@font-face {
    font-family: "BBC Reith Serif";
    src: url("BBCReithSerif_W_Rg.woff2") format('woff');
}

@font-face {
    font-family: "BBC Reith Serif";
    src: url("BBCReithSerif_W_Bd.woff2") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "BBC Reith Serif";
    src: url("BBCReithSerif_W_BdIt.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BBC Reith Serif";
    src: url("BBCReithSerif_W_It.woff2") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "BBC Reith Sans";
    src: url("BBCReithSans_W_Rg.woff2") format('woff');
}

@font-face {
    font-family: "BBC Reith Sans";
    src: url("BBCReithSans_W_Bd.woff2") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "BBC Reith Sans";
    src: url("BBCReithSans_W_BdIt.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "BBC Reith Sans";
    src: url("BBCReithSans_W_It.woff2") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "Lucida Sans Unicode";
    src: url("lucidasansunicode.ttf") format('truetype');
}

body {
    font-size: 19px;
    font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 17px;
        font-family: sans-serif;
    }
}

button {
    font-size: 15px;
}

audio {
    height: 38px;
}

audio.svelte-eemfgq {
    padding: 3px;
    width: 100%;
}

textarea {
    height: 18em;
    width: 100%;
    max-width: 70em;
    font-size: 16px;
    font-family: sans-serif;
}

tr:hover {
    background-color: #d1d1d157;
}

.float {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}
.load-more {
    left: 40px;
}

.my-float {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (min-width: 640px) {
    .hide-on-desktop {
        display: none;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

tr.selected {
    background-color: #c0d6e1 !important;
}

.unselectable [data-content]:before {
    content: attr(data-content);
}

.header-link {
    margin: 10px;
}

.q-button {
    margin: 5px;
}

.IPA-player {
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: "Lucida Sans Unicode";
}
.ipa {
    font-family: 'Lucida Sans Unicode';
}
.visit-0 {
    color: #eff3f5;
}
.visit-1 {
    color: #d0dbe1;
}
.visit-2 {
    color: #c1cfd7;
}
.visit-3 {
    color: #a2b8c3;
}
.visit-4 {
    color: #7394a5;
}
.visit-5 {
    color: #5a7a8c;
}
.visit-6{
    color: #50687c;
}
.visit-7{
    color: #3c4e5d;
}
caption {
    font-family: "BBC Reith Serif";
    font-weight: bold;
    font-size: 1.2em;
}