{% extends "base.html.jinja" %}
{% from "_page_header.html.jinja" import page_header %}
{% block title %}Internal Error{% endblock title %}

{% block body %}
{{ page_header() }}
<main class="error-page">
<h1>Internal Error</h1>

<p>{{ detail }}</p>
</main>

{% endblock body %}
