{% extends "base.html.jinja" %}
{% block title %} Internal Error {% endblock title %}

{% block body %}
<main class="error-page">
<h1>Internal Error</h1>

<p>{{ detail }}</p>
<p><a class="button button-ghost" href="/">Dictionary</a></p>
</main>

{% endblock body %}
