{% extends "base.html.jinja" %}
{% from "_page_header.html.jinja" import page_header %}
{% block title %}Add Definition{% endblock title %}

{% block body %}
{% set entry_link %}<a class="button button-ghost" href="/entry/{{ entry_id }}">Entry</a>{% endset %}
{{ page_header(extra_nav=entry_link) }}
<main class="form-page">
<h1>Add Definition</h1>
<form method="post"
    action="/add_definition">
    <textarea name="definition_text"></textarea><br>
    <input value="{{ entry_id }}"
        name="entry_id"
        type="hidden">
    <div class="form-actions">
        <input type="submit"
            value="Submit">
    </div>
</form>
</main>
{% endblock body %}
