{% extends "base.html.jinja" %}
{% from "_page_header.html.jinja" import page_header %}
{% block title %}Add Entry{% endblock title %}

{% block body %}
{{ page_header() }}
<main class="form-page">
<h1>Add Entry</h1>
<form method="post"
    action="/add_entry">
    <textarea name="entry_text"></textarea><br>
    <div class="form-actions">
        <input type="submit"
            value="Submit">
    </div>
</form>
</main>
{% endblock body %}
