{% extends "base.html.jinja" %}
{% block title %} Add Question {% endblock title %}

{% block body %}
<h1>Add Question</h1>
<form method="post"
    action="/add_question">
    <textarea name="question_text"></textarea><br>
    <input type="submit"
        value="Submit">
</form>
{% endblock body %}