<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="/static/style.css" />
    <script src="/static/script.js" defer></script>
    <link rel="icon"
        type="image/x-icon"
        href="/static/favicon.ico">
    {% if needs_editor or needs_markdown_css %}
    <link rel="stylesheet"
        href="/static/markdown-pc.css"
        media="screen and (min-width: 600px)" />
    <link rel="stylesheet"
        href="/static/markdown-mobile.css"
        media="screen and (max-width: 599px)" />
    {% endif %}
    {% if needs_editor %}
    <link rel="stylesheet"
        href="/static/font-awesome.min.css">
    <link rel="stylesheet"
        href="/static/md-editor.min.css">
    <script src="/static/md-editor.min.js"></script>
    {% endif %}
    <link rel="stylesheet"
        href="/static/link-colors.css" />
    {% block head %}{% endblock head %}
</head>

<body>
    {% block body%}

    {% endblock body %}

</body>
</html>
