{% extends "base.html.jinja" %}
{% block title %} Edit Example {% endblock title %}

{% block body %}
<h1>Edit Example</h1>
<form method="post"
    action="/edit_example/{{ entry_id }}">
    <textarea name="example_text">{{ entry_example }}</textarea><br>
    <input type="submit"
        value="Submit">
</form>
{% endblock body %}