{% extends "base.html.jinja" %}
{% block title %} Edit Question {% endblock title %}

{% block body %}
<h1>Edit Question</h1>
<form method="post"
    action="/edit_question/{{ question_id }}">
    <textarea name="question_text">{{ question_text }}</textarea><br>
    <input type="submit"
        value="Submit">
</form>
{% endblock body %}