{% extends "base.html.jinja" %}
{% block title %} Edit Example {% endblock title %}

{% block body %}
<h1>Edit Example</h1>
<form method="post"
    action="/edit_example/{{ question_id }}"
    class="answer-form">
    <textarea name="example_text">{{ question_example }}</textarea><br>
    <input type="submit"
        value="Submit"
        class="submit-button">
</form>
{% endblock body %}