<tr>
    <th>Entry</th>
    <th>Context</th>
    <th>Visit</th>
    <th>Mark</th> <!-- New header -->
</tr>
{% for QD in q_list %}
<tr id="{{ QD.entry.id }}">
    <td class="col-1"><label class="unselectable">-<span data-content=" "></span></label><a
            href="entry/{{ QD.entry.id }}">{{ QD.q_text }}</a></td>
    <td class="col-2">
        {{ QD.q_context }}
    </td>
    <td class="visit-{{ QD.entry.visit_count }}">{{ QD.entry.visit_count }}</td>
    <td class="review-cell">
        {% if QD.last_review_elapse != "never" %}
        review: {{ QD.last_review_elapse }}
        {% endif %}
    </td>
</tr>
{% endfor %}
{% if last_review_entry_id %}
<a href="#{{last_review_entry_id}}" class="last-review-link">last review</a>
{% endif %}