{% extends "base.html.jinja" %}
{% from "_quiz_card.html.jinja" import quiz_card %}
{% from "_page_header.html.jinja" import page_header %}
{% block title %}Quiz{% endblock title %}

{% block body %}

{{ page_header(subtitle="Fill in the blank") }}

<section class="card">
    {% if question %}
    {{ quiz_card(question, action_href="/quiz?exclude=" ~ next_exclude, action_label="Next question", action_id="quiz-next-btn") }}
    {% else %}
    {{ quiz_card(question) }}
    {% endif %}
</section>

{% endblock body %}
