{% extends "base.html.jinja" %}
{% block title %} Synonyms of {{ word }} {% endblock title %}

{% block body %}
<style>
    @media screen and (min-width: 1064px) {
        body {
            width: 1364px;
            margin: 0 auto;
        }
    }
</style>

<h1>Synonyms of <a href="/entry/{{ entry_id }}">{{ word }}</a></h1>

{% if entries %}
<table class="synonyms-table">
    <thead>
        <tr>
            <th>Part of Speech</th>
            <th>Meaning</th>
            <th>Synonyms</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.part_of_speech }}</td>
            <td>{{ entry.meaning_html | safe }}</td>
            <td>
                {% for syn in entry.synonyms %}
                {% if syn in all_words %}
                {% for eid in all_words[syn] %}
                <a href="{{ url_for('entry_page', entry_id=eid) }}">{{ syn }}</a>{% if not loop.last %} / {% endif
                %}{% endfor %}{% else %}{{ syn }}{% endif %}{% if not loop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No synonyms found for this word.</p>
{% endif %}


{% endblock body %}